.project-indicator-container {
	position: absolute;
	transform: translate3d(-50%, -50%, 0px);
	font-family: monospace;
	font-size: 1.5rem;
	color: white;
	letter-spacing: -0.1rem;
	text-align: center;
	margin-top: -30px;
	margin-left: 0px;
}

.project-indicator-title {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.project-indicator-technologies {
	font-weight: 400;
}

.project-indicator-pointer {
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.project-dialog-title {
	border-top: 1px solid #1d5560;
	border-right: 1px solid #1d5560;
	border-left: 1px solid #1d5560;
}

.project-dialog-content {
	border-right: 1px solid #1d5560;
	border-left: 1px solid #1d5560;
}

.project-dialog-actions {
	border-right: 1px solid #1d5560;
	border-left: 1px solid #1d5560;
	border-bottom: 1px solid #1d5560;
	background: #3c5e61;
}
