// App

html,
body,
#root,
.space-container {
	width: 100%;
	min-height: 700px;
	height: 100% !important;
}

/* width */
::-webkit-scrollbar {
	width: 15px;
	-webkit-overflow-scrolling: touch;
}

/* Track */
::-webkit-scrollbar-track {
	background: #213f44;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #4fbdba;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #89c2c1;
}

canvas {
	touch-action: none;
}

.space-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #090b1f;
	background: radial-gradient(at 50% 70%, #200f20 40%, #090b1f 80%, #050523 100%);
	z-index: -2;
}

hr {
	margin-top: 0.1rem;
	color: white;
	background-color: white;
	margin-bottom: 0.2rem;
}

.step-title-select {
	color: white;
	font-weight: lighter !important;
	letter-spacing: 1rem !important;
	text-transform: uppercase;
}

.step-title-top {
	color: white;
	font-weight: lighter !important;
	letter-spacing: 1rem !important;
	width: 80vw;
	pointer-events: none;
	user-select: none;
}

.view-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.MuiMenu-root {
	z-index: 999999999 !important;
}
