// App

html,
body,
#root {
	min-height: 100% !important;
}

canvas {
	touch-action: none;
}

.stars {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #090b1f;
	background: radial-gradient(at 50% 70%, #200f20 40%, #090b1f 80%, #050523 100%);
	z-index: -2;
}

hr {
	margin-top: 0.1rem;
	color: white;
	background-color: white;
	margin-bottom: 0.2rem;
}

.step-title-top {
	color: white;
	font-weight: lighter !important;
	letter-spacing: 1rem !important;
	width: 80vw;
	pointer-events: none;
	user-select: none;
}

.view-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

// NavBar

.navbar-triangle-left {
	background: linear-gradient(to bottom right, #1d5560 50%, #072227 52%);
	width: 100%;
	height: 100%;
	-webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
	border-right: 1px solid #072227;
}

.navbar-triangle-right {
	background: linear-gradient(to top right, #072227 48%, #1d5560 48%);
	width: 100%;
	height: 100%;
	-webkit-clip-path: polygon(0% 0, 0% 0, 100% 100%, 0 100%);
	clip-path: polygon(0% 0, 0% 0, 100% 100%, 0 100%);
	border-left: 1px solid #072227;
}

.Mui-selected {
	border-bottom: 6px solid !important;
}
