.marker-indicator-container {
	font-family: monospace;
	font-size: 1.5rem;
	color: white;
	letter-spacing: -0.1rem;
	text-align: center;
}

.marker-indicator-title {
	overflow: hidden;

	pointer-events: none;
	color: white;
}

.marker-indicator-pointer {
	color: red;
	font-size: 3rem !important;
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}
