.content {
	padding-top: 10px;
	transform: translate3d(50%, 0, 0);
	text-align: left;
	background: #202035;
	color: white;
	padding: 10px 15px;
	border-radius: 5px;
}

.exp-indicator-container {
	font-size: 1.5rem;
	color: white;
	white-space: nowrap;
	letter-spacing: -0.1rem;
	text-align: center;
	margin-top: -31px;
	margin-left: 1px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.exp-indicator-title {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	pointer-events: none;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.exp-indicator-pointer {
	margin: auto;
	width: 60px;
	transform: rotate(45deg);
	font-weight: bold;
	font-size: 35px;
	cursor: pointer;
	-webkit-text-stroke: 1px black;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.dialog-title {
	border-top: 1px solid #1d5560;
	border-right: 1px solid #1d5560;
	border-left: 1px solid #1d5560;
}

.dialog-content {
	border-right: 1px solid #1d5560;
	border-left: 1px solid #1d5560;
}

.dialog-actions {
	border-right: 1px solid #1d5560;
	border-left: 1px solid #1d5560;
	border-bottom: 1px solid #1d5560;
	background: #3c5e61;
}
